<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorBlocc Parties</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="hero">
        <div class="logo-container">
            <img src="/static/colorblocc.jpg" alt="" class="logo">
        </div>
        <h1>Welcome to ColorBlocc!</h1>
        <p>Explore our color-themed parties and share your craziest party photo!</p>
            <br>
            <br>
            Click on a party theme to get started!
        </p>
    </header>
    <main>
        <section class="party-list">

            <a href="/party/pink" class="party-card pink">
                <h2>Pink Panther Party</h2>
                <p>Bold and full of energy!</p>
            </a>

            <a href="/party/red" class="party-card red">
                <h2>Carnival Party</h2>
                <p>Bold and full of energy!</p>
            </a>
            <a href="/party/green" class="party-card green">
                <h2>St.Patrick's Day Party</h2>
                <p>Fresh and natural vibes await you.</p>
            </a>
            <a href="/party/black-yellow" class="party-card black-yellow">
                <h2>Star Wars Party</h2>
                <p>Bright and unforgettable!</p>
            </a>
            <a href="/party/halloween" class="party-card halloween">
                <h2>Halloween Party</h2>
                <p>Love is in the air!</p>
            </a>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 ColorBlocc Inc. | All rights reserved.</p>
    </footer>
</body>
</html>
